body {
    background-color: #fffff7;
    color: #333;
    margin: 0 auto;
    cursor: default;
    max-width: 900px;
}

.container {
    position: relative
}

.sections {
    width: 340px;
}

.sections > div {
    opacity: 0.2;
    margin-bottom: 200px;
    min-height: 400px;
    background: none;
    transition: 1s;
}
.sections > div:last-child {
    margin-bottom: 30px;
}
.sections > div.graph-scroll-active {
    opacity: 1;
    background: white;
}
                        
.trad { fill: red }
.sport { fill: green }
.boulder { fill: magenta }
.aid { fill: black }
.spectator { fill: grey }
                        
.graph {
    margin-left: 40px;
    width: 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float: right;
}

.graph svg {
    border: 1px green solid;
}

#footer {
    padding-top: 15em;
}

@media (max-width: 925px) {
    .graph {
        width: 100%;
        margin-left: 0;
        float: none;
    }
    
    .sections {
        width: auto;
        position: relative;
        margin: 0 auto;
    }
    
    .sections > div {
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 80vh;
        min-height: 200px;
    }
    .sections > div:last-child {
        margin-bottom: 200px;
    }
    
    h1 {
        margin: 10px;
    }
}